<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center"> New Yorker News Scraper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">scrape</a></li>
            <li><a href="https://github.com/SHenn39910/All-the-News-that-s-Fit-to-Scrap" target="_blank">Git Repo</a>
            </li>
        </ul>
    </div>
</nav>